<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% if page.permalink != "/" %}{{ page.title }} &laquo; {% endif %}AlexaCRM</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main/index.css{% if site.github.build_revision %}?{{ site.github.build_revision }}{% endif %}">
</head>
<body>
<nav class="navbar navbar-light bg-faded" style="margin-bottom: 2rem;">
    <a class="navbar-brand" href="/"><img src="/img/logo.png" width="181" height="33" alt="AlexaCRM" class="img-fluid"></a>
    <ul class="nav navbar-nav">
        <li class="nav-item{% if page.permalink == "/" %} active{% endif %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item{% if page.group == "wpcrm" %} active{% endif %}">
            <a class="nav-link" href="/wpcrm/">WordPress Plugin</a>
        </li>
        <li class="nav-item{% if page.group == "toolkit" %} active{% endif %}">
            <a class="nav-link" href="/toolkit/">PHP Toolkit</a>
        </li>
    </ul>
</nav>

{{ content }}

<footer class="footer">
    <div class="container">
        <p>Copyright © AlexaCRM</p>
    </div>
</footer>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script>
    ( function( $ ) {
        $( 'h2, h3, h4, h5, h6' ).each( function( i, el ) {
            var $el = $( el ),
                    anchorId = $el.attr( 'id' ),
                    $faLink = $( '<a href=""><i class="fa fa-link"></i></a>' )
                            .attr( 'href', '#' + anchorId )
                            .addClass( 'header-link' );

            if ( anchorId ) {
                $el.append( $faLink );
            }
        } );
    } )( jQuery );
</script>

</body>
</html>
