---
layout: default
---
<div class="jumbotron jumbotron-fluid" style="margin-top:-2rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col offset-md-2">
                <h1 class="display-3">{{ page.jumbo_title }}</h1>
                <p class="lead">{{ page.jumbo_lead }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 pt-md-3">
            <ul class="nav flex-column">
                {% for navItem in site.navigation[page.navigation] %}
                <li class="nav-item">
                    <a href="{{ navItem[1] }}" class="nav-link{% if page.url == navItem[1] %} active{% endif %}">{{ navItem[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 documentation-content">
            {% if page.omit_title != true %}
            <h1>
                {{ page.title }}
                {% if page.premium %}
                    {% include icds_premium.html %}
                {% endif %}
            </h1>
            {% endif %}

            <div class="row">
                <aside class="col-md-3 offset-md-1 order-last">
                    <div class="sticky-top" id="docPageTocContainer">
                        <ul class="nav flex-md-column flex-row justify-content-between documentation-page-toc">
                        </ul>
                    </div>
                </aside>
                <div class="col-md-7 order-first">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
