---
layout: default
---
<div class="jumbotron jumbotron-fluid" style="margin-top:-2rem;">
    <div class="container">
        <h1 class="display-3">{{ page.jumbo_title }}</h1>
        <p class="lead">{{ page.jumbo_lead }}</p>
    </div>
</div>

<div class="container">
    {% if page.omit_title != true %}
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-xs-12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8 documentation-content">
            {{ content }}
        </div>
        <div class="col-md-3 offset-md-1" role="navigation">
            <ul class="nav">
                {% for navItem in site.navigation[page.navigation] %}
                <li class="nav-item">
                    <a href="{{ navItem[1] }}" class="nav-link{% if page.url == navItem[1] %} active{% endif %}">{{ navItem[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
